* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav header header header"
    "nav main main aside"
    "nav main main aside"
    "nav main main aside";
  font-family: "Roboto", sans-serif;
}
button:hover {
  cursor: pointer;
}

/* Header Section */
header {
  background-color: white;
  grid-area: header;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  grid-template-areas:
    "box-1 box-2"
    "box-3 box-4";
}
.all-icons {
  height: 2em;
}
.search-bar {
  border-radius: 20px;
  width: 80%;
  padding: 5px;
  background-color: #f2f2f2;
}
.search-icon {
  padding-right: 20px;
}
.cat-icon {
  height: 4em;
  float: left;
}
.box-1 {
  grid-area: box-1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box-2 {
  grid-area: box-2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.box-2 > * {
  margin-right: 4em;
}
.box-2 .span {
  font-weight: bolder;
}
.box-3 {
  grid-area: box-3;
}
.box-4 {
  grid-area: box-4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  background-color: #1aa3d9;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  border: none;
}

/* Sidenav Section */
nav {
  background-color: #1aa3d9;
  grid-area: nav;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-template-areas:
    "dash-link"
    "top-links"
    "bottom-links";
}
.dash-link {
  grid-area: dash-link;
  font-size: 2em;
}
.dash-link-icon {
  height: 40px;
  margin-right: 10px;
}
nav * img {
  height: 20px;
  margin-right: 0.8em;
}
nav * a {
  text-decoration: none;
  color: white;
}
.all-links {
  list-style: none;
}
.top-links > li {
  padding-bottom: 1.5em;
  padding-left: 1em;
}
.bottom-links > li {
  padding-bottom: 1.5em;
  padding-left: 1em;
}
.top-links {
  grid-area: top-links;
  display: flex;
  flex-direction: column;
}
.bottom-links {
  grid-area: bottom-links;
  display: flex;
  flex-direction: column;
}

/* Main Section */
main {
  background-color: #f2f2f2;
  grid-area: main;
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  gap: 1em;
  grid-template-areas:
    "main-header main-header"
    "card-1 card-2"
    "card-3 card-4"
    "card-5 card-6";
}
main * img {
  height: 1.5em;
}
.main-header {
  grid-area: main-header;
}
.all-cards {
  background-color: white;
  border-radius: 10px;
  border-left: 5px solid #f2bb16;
  padding: 1em;
}
.all-cards > p {
  color: grey;
}
.card-1 {
  grid-area: card-1;
}
.card-2 {
  grid-area: card-2;
}
.card-3 {
  grid-area: card-3;
}
.card-4 {
  grid-area: card-4;
}
.card-5 {
  grid-area: card-5;
}
.card-6 {
  grid-area: card-6;
}
.card-bottom-icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 3em;
}
.card-bottom-icons > img {
  margin-right: 18px;
}

/* Aside Section */
aside {
  background-color: #f2f2f2;
  grid-area: aside;
  padding: 1em;
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
}
.side-content-1 {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
}
.side-content-1 > h3 {
  margin-top: 1em;
}
.side-content-1 > p {
  color: grey;
  margin-bottom: 1.5em;
}
.side-content-2 {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
}
figcaption {
  margin-bottom: 1em;
}
figcaption > p {
  color: grey;
}
.trending-icon {
  height: 2em;
  float: left;
  margin-right: 2em;
}

/* Screen Size Change Section */
@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "nav header"
      "nav main"
      "nav aside";
  }
  nav {
    grid-template-rows: 0.3fr 1fr 2fr;
  }
  .cat-icon {
    float: none;
  }

  .box-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button {
    height: 20px;
    margin: 2px;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    gap: 1em;
    grid-template-areas:
      "main-header main-header"
      "card-1 card-2"
      "card-3 card-4"
      "card-5 card-6";
  }
}
